.toolbar {
  background-color: rgb(9, 122, 9);
  width: 100vw;
  font-size: 1.3em;
  color: white;
 }

 .form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

 .form-input {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7ex;
}

.button {
  width: 200%;
  font-size: 1em;
  size: 1cm;
  background-color: rgb(172, 26, 26);
  color: white;
}
 
 .form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.matcard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 20px;
}
span {
  width: 135%;
  font-size: 1em;
}
.input {
  font-size: 1em;
}