
.matcard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 20px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.form-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    width: 100%;
    font-size: 1.3em;
  }

  span:nth-child(2) {
    padding: 15px;
  }
}

.actions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.input-error {
  color: color-red-100;
}

.error-wrapper {
  width: 100%;
  height: 20px;
}

.error {
  color: color-red-100;
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: -8px;
}

:footer {
  height: 10px;
  padding-top: 5px;
}

.request-error {
  width: 100%;
  color: color-red-100;
}

.input {
  font-size: 1.3em;
}